
.cart-action{
  display: none;
}

.show-cart-action{
   display: flex;
  padding: 6px 12px;
  justify-content: flex-end;     /* push to right */
    gap: 10px;
  
}

.btn-edit, .btn-delete{
  
  padding: 5px 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.btn-edit {
    background-color: rgb(255, 240, 220);    /* very light orange */
    color: rgb(180, 100, 20);                  /* darker orange text */
    font-weight: 600;                          /* not bold-bold */
}

.btn-edit:hover {
    background-color: rgb(231, 155, 41);
    color: white;
}

.btn-delete {
    background-color: rgb(255, 235, 235);
    color: rgb(180, 30, 30);
}

.btn-delete:hover {
    background-color: rgb(202, 16, 16);
    color: white;
}